* {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #030303;
}

main {
    flex: 1;
}

a:hover {
    background-color: white;
    color: #030303;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #030303;
    padding: 20px;
    align-items: center;
}

li > a {
    padding: 5px;
    border-radius: 8px;
}

footer {
    background-color: #030303;
    text-align: center;
    padding: 15px;
    width: 100%;
  }

header div a {
    color: white;
    text-decoration: none;
}

#title {
    padding: 5px;
    font-size: 34px;
    margin: auto;
    border-radius: 8px;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 50px;
    text-decoration: none;
    text-align: center;
}
  
nav a {
    text-decoration: none;
    color: white;
    font-size: 24px;
  }

footer p {
    color: white
  }

#hero {
    height: 40vh;
    position: relative;
    
}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.418)), url('./pexels-wendywei-1494665.jpg') no-repeat center / cover;
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
  }

#welcome {
    text-align: center;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.5em;
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
    padding-top: 20px;
  }

#about-text {
    color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    position: relative;
    top: 120px;
  }

h2 {
    text-align: center;
    color: white;
    padding-bottom: 50px;
    font-size:2em;
  }
  
#events {
    background: #030303;
    padding: 40px 20px;
}

.event img {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    text-align: center;
    object-fit:cover;
    border-radius: 8px;
}

.gridbox {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.event {
    background-color: white;
    padding: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

.event > h3 {
    text-align: center;
    margin: 0;
    color: black;
    font-size: 1.5em;
  }

.event > p {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    color: black
  }

/* MEDIA QUERY STUFF */

  @media screen and (max-width: 1000px) {
    .gridbox {
      flex-direction: column;
      align-items: center;
    }

    .event {
      width: 90%;
    }

    * {
        font-size: 16px;
    }

    #title {
        font-size: 20px;
    }

    nav a {
        font-size: 16px;
    }
  }

  /* ----- */

/* EVENTS PAGE CSS */

#febcal {
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
    padding: 20px;
}

/* MENU PAGE CSS */

.foodmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.foodmenu > h1 {
    color: white;
    font-size: 2em;
    padding: 20px;
}

#table {
    color: white;
    border: 1px solid white;
    text-align: center;
    width: 80%;
    background-color: rgb(65, 111, 163);
}

tr:nth-child(even) {
    background-color: rgb(35, 62, 94);
}

#table tr {
    border: 1px solid white;
}

td, th {
    padding: 10px;
    border: 1px solid white;
}

th {
    font-weight: bold;
    font-size: 1.8em;
}

td {
    font-size: 1.5em;
}

@media screen and (max-width: 1000px) {
    td {
        font-size: .75em;
    }

    th {
        font-size: 1em;
    }
}

/* LOCATION PAGE CSS */

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h3, p {
    color:white;
    margin: 10px;
    text-align: center;
}

#locationh2 {
    padding: 20px;
    margin: 0;
}

iframe {
    padding: 10px;
}

/* CONTACT PAGE CSS */

.contactform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    font-size: 1.5em;
    width: auto;
    margin: 10px;
}

fieldset {
    margin: 10px;
    border: none;
}

label, input, textarea {
    margin: 2px;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

textarea, input {
    padding: 5px;
}

button {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 8px;
}

#message {
    display: flex;
    flex-direction: column;
}

.contactform > h2 {
    padding: 20px;
}

button:hover {
    background-color: rgb(137, 255, 137);
    cursor: pointer;
}